.button_action_container {
  font-family: "Inter", sans-serif;
  width: 120px;
  height: 30px;
  margin-right: 6px;
  border-radius: 10px;
  padding: 4px 2px;
  text-align: center;
  background-color: var(--main-color-dark);
  color: var(--white);
  border-color: transparent;
}

.button_action_container:hover {
  cursor: pointer;
  background-color: var(--main-details-up);
  color: vaR(--black);
}
